::root {
   --skyHex: #86BBd8;
   --blueHex: #086375;
   --yellowHex: #FFF689;
   --greenHex: #CFFFB0;
   --purpleHex:#734B5E;
   --darkdark: #121212;
   --nearWhite: #eaeaea
}
body{
    background-color: #86BBd8;
}
.topbar{
    position: absolute;
    top:0px;
    left: 0px;
    text-align: center;
    color: #eaeaea;
    background-color: #086375;
    text-shadow: 1px 1px 2px #121212;
    text-decoration: underline;
    height: 50px;
    width: 100vw;
    font-size: 40px;
}
