body {
    background-image: linear-gradient(#111, #222);
    background-size: cover;
    color: white;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    font-size: 60px;
    text-decoration: underline;
    margin: 0px;
    margin-bottom: 10px;
}

h3 {
    display: inline;
}

h2 {
    text-align: center;
}

#userInput {
    color: white;
    background-color: #333;
    text-align: center;
}

#mommy {
    display: flex;
    max-width: 1030px;
    margin: auto auto;
    margin-top: 20px;
    justify-content: space-between;
    min-height: 75px;
}

#mommy>button {
    margin: 40px;
    margin-top: 0px;
    max-height: 40px;
}

#mommy>div {
    text-align: center;
}

#minimommy {
    margin-top: 40px;
    text-align: center;
    padding: 0px;
    border-top: 2px solid white;
    width: 75%;
    margin: auto auto;
}

h2 {
    margin: 5px;
    font-size: 40px;
    text-decoration: underline;
}